.songList {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
  }
  
  .songItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .songItem:hover {
    background-color: #f0f0f0;
  }
  