/* .player {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .player h2,
  .player h3 {
    margin-bottom: 10px;
  }
  
  .player ul {
    list-style: none;
    padding: 0;
  }
  
  .player li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .player li:hover {
    background-color: #415a77;
  }
   */