.player {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: bottom 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
  }
  
  .player-visible {
    bottom: 0;
    opacity: 1;
  }
  
  .song-info {
    font-size: 18px;
    text-align: center;
  }
  
  .audio-element {
    width: 50%;
    margin-top: 10px;
    border-radius: 50px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .controls svg {
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .controls svg:hover {
    transform: scale(1.2);
  }
  