/* .recommendations {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    overflow-y: auto;
  }
  
  .recommendations h2 {
    margin-bottom: 10px;
  }
  
  .recommendations ul {
    list-style: none;
    padding: 0;
  }
  
  .recommendations li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .recommendations li:hover {
    background-color: #415a77;
  }
   */